@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
<<<<<<< HEAD
  font-family: Inter, sans-serif
}
::-webkit-scrollbar-track {
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #ffc229;
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
  background: transparent;
=======
font-family: "Inter", sans-serif;
>>>>>>> 8d6633030f75cd2b9e50e94603a61c2fca3f0d84
}
